
<!--header-->
<div class="ui stackable borderless menu">
<div class="item">
    <em data-emoji=":computer:" class="medium"></em>
</div>
<div class="item">
    <span class="ui large text">First Application</span>
</div>
</div>

<!--adding form-->
<div class="ui grid centered container">
<div class="eight wide column">
    <div class="ui segment">
        <form #addWebsiteForm class="ui form">
        <!--Title input-->
        <div class="field">
            <div class="ui left icon input">
                <input type="text" placeholder="Enter title" #newTitle>
                <i class="heading icon"></i>
            </div>
        </div>

<!--link input -->
<div class="field">
    <div class="ui left icon input">
        <input type="url" placeholder="Enter Link" #newLink>
        <i class="linkify icon"></i>
    </div>
</div>
<!--img input -->
<div class="field">
    <div class="ui left icon input">
        <input type="url" placeholder="Enter Image link" #newImg>
        <i class="image icon"></i>
    </div>
</div>
<button class="ui inverted blue button" (click)="addWebsite(newTitle, newLink, newImg, addWebsiteForm)">
    <i class="plus icon"></i>
    add
</button>
</form>       
</div>
</div>
</div>

<!--website card component-->
<div class="ui grid centered container">
<website-grid *ngFor="let website of sortedWebsites()" [website]="website"></website-grid>
</div>